Tasukete (助けて)

1)A map
2)User should be able to place pins on the map.
3)Pins will contain brief details about the type of help they need and and other stuff
4)Help requests (Onegai) can be tagged by the user type(govt body, NGO, individual etc.)
5)Pins contain links to the main page of the Request that contains more precise details.
5.1)Main page of the request must have a map too
6)Sign in with google (maybe others in the future)
7)Users will be able to accept whatever request they choose and the Onegais OP will see the number of volunteers and their names.
8)Onegais must have contact details (Email, Phone NO)
9)The users profile page will display their Onegais and the ones they volunteered for.


saru-mo-ki-kara-ochiru (猿も木から落ちる)
がんばれ!!!!!!!