html {
  margin-right: 0;
}

body {
  background-color:#fcefec;
}

.map-container {
  margin-top: 2vh;
  max-width: 100%;
}

.navbar-custom {
  background-color: rgb(196, 9, 108) !important;
  margin-bottom: 2vh;
}

.profile-img{
  width:25px;
  height:25px;
  border-radius:4rem;
  margin-top: 0.68rem;
}

.form-container {
  background-color: rgba(240, 255, 255, 0.664);
  width: 70%;
  border-radius: 10px;
}

.new-map-container {
  margin-top: 2vh;
  width: 100%;
}