body {
  background-color: indigo;
}

.map-container {
  margin-top: 2vh;
  max-width: 100%;
}

.navbar-custom {
  background-color: rgb(196, 9, 108) !important;
  margin-bottom: 2vh;
}

.profile-img{
  width:25px;
  height:25px;
  border-radius:4rem;
  margin-top: 0.68rem;
}